*{
  padding: 0;
  margin: 0;
  
}
.main{
    color:white;
    font-size: 40px;
    padding-right: 40px;
    padding-top: 10px;
}
/* html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  } */

  .shs-swiper-module{
  margin-left: 130px;
  }

 .letter-space span {
  margin-right: 25px; 
  font-size: 50px;
  color:goldenrod;
  font:bold;
 font-weight: 700;
}

.dream{
 span{
  color:white;
  font-size: 20px;

 }
 margin-left: 150px;
}

.letter-space{
  padding-left: 250px;
  padding-top: 250px;
  /* font-family:Poppins; */
}


 .learn{
margin-left: 550px;
margin-top: 50px;
background-color: black;
cursor: pointer;
height:5vh;
width:100px;
&:hover{
  opacity:0.5;
}
 }

  .footer{
    background-color: silver;
    height:3vh;
    h3{
      padding-left:500px ;
    }
  }
/* .nav-bar{
  background-color: blue;
  top:0px;
} */
  
  nav {
    color: white;
    padding: 10px;
    position: fixed;
    /* background-color:rgb(67, 64, 64); */
    height:5vh;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      padding-left: 600px;
      
      /* overflow: hidden;
  position: fixed; Set the navbar to fixed position */
  
    }
  }
  
 
  
  li {
    display: inline-block;
    &:hover{
      cursor: pointer;
    }
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .user-profile {
    position: relative;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0; /* Adjusted to open to the right */
    background-color:black;
    list-style-type: none;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    li:hover{
      opacity: 0.8;
      text-decoration: underline;
    }
    li{
      padding-bottom: 5px;
    }
  }

  
  .user-profile:hover .dropdown {
    display: block;
  }

  .user{
    height:5vh;
    padding-top: 0px;
  }

  /* .gallery{
    height: 100vh;
  } */
  .images{
    height:25vh;
    &:hover{
      opacity: 0.7;
    }
  }
  .gallery{
    align-items: center;
    justify-content: center;
    display: flex;

  }
  /* .Gallery-header {
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 7rem 0rem 3rem 0rem;
  } */
  
  .Gallery-header h1 {
    font-size: 3rem;
    width: 90%;
    margin: auto;
    
  }
  
  .Gallery-header span {
    color: rgb(59, 59, 59);
  }
  

  .Gallery-one {
    width: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Gallery-one img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }

  #home{
    height:100vh;
    color:white;
    /* background: linear-gradient(#141e30, #243b55);
    background: url('https://media.istockphoto.com/id/1622425065/photo/business-travel-a-beautiful-asian-female-professional-on-business-trip-checking-into-the-hotel.webp?b=1&s=170667a&w=0&k=20&c=clkUDk5ywYHG_XCDdyAA1SexIZhe62h-1UUIokJOy7c=');
    background-repeat: no-repeat;
    background-size: cover; */
    background: url('https://images.luxuryescapes.com/q_auto:eco/zl13bxz82id6jtvcfve');
    background-repeat: no-repeat;
   background-size: cover;
    
  }
  #rooms{
    height:100vh;
   padding-top: 150px;
  .cards{
    display: flex;
    /* background-color: rgb(67, 122, 170); */
    height:50vh;
    margin-left: 200px;
    margin-right: 200px;
    /* margin-top: 100px; */

    .card1{
       background-color:rgb(114, 114, 119); 
      height:50vh;
      width:33.3%;
      margin-right: 20px;
      &:hover{
        transform: scale(1.1);
      }
      .single-bed{
        height: 30vh;
        width:90%;
        margin-left: 12px;
        margin-top: 15px;
      }
      button{
        margin-left: 90px;
        margin-top: 30px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .card2{
      height:50vh;
      background-color: rgb(114, 114, 119);;
      width:33.3%;
      margin-right: 20px;
      &:hover{
        transform: scale(1.1);
      }
      .double-bed{
        height: 30vh;
        width:90%;
        margin-left: 12px;
        margin-top: 15px;
      }
      button{
        margin-left: 90px;
        margin-top: 30px;
        padding:10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .card3{
      height:50vh;
      background-color:rgb(114, 114, 119);;
      width:33.3%;
      &:hover{
        transform: scale(1.1);
      }
      .family-bed{
        height: 30vh;
        width:90%;
        margin-left: 12px;
        margin-top: 15px;
      }
      button{
        margin-left: 90px;
        margin-top: 30px;
        padding: 10px;
        border-radius: 5px;
      cursor: pointer;
      }
    }
  }
}

.shs-swiper-module{
  height:80vh;
  margin-top: 100px;
}
  #about{
    height:100vh;
   padding-top: 10px;
    .abth1{
      color:white;
      padding-left: 350px;
      font-size: 40px;
      margin-top: 100px;
      span{
        margin-right: 10px;
        font-family:'Poppins', sans-serif;
        font-size: 20px;
      }
    }
    .abth2{
      color:white;
      
      top:0px;
      font-size: 20px;
      
    }

  }
  .one{
    height:40vh;
    width:70%;
    background-color:silver;
    margin-left: 180px;
    margin-top:100px ;
    display: flex;
    .one-one{
      width:25%;
      height:100%;
      border-right: 2px solid black;
      &:hover{
       color:white;
        background-color: rgb(11, 11, 60);
      }
      h2{
        margin-left: 30px;
      }
      .bedroom-img{
        height:15vh;
        margin-left: 55px;
        margin-top: 40px;
      }
    }
    .one-two{
      width:25%;
      height:100%;
      /* background-color:white; */
      border-right: 2px solid black;
      h2{
        margin-left: 30px;
      }
      .wifi-img{
        height:15vh;
        margin-left: 55px;
        margin-top: 40px;
      }
      &:hover{
        color:white;
         background-color: rgb(11, 11, 60);
       }
    }
    .one-three{
      width:25%;
      height:100%;
      /* background-color:yellow; */
      border-right: 2px solid black;
      h2{
        margin-left: 30px;
      }
      .balcony-img{
        height:15vh;
        margin-left: 55px;
        margin-top: 40px;
      }
      &:hover{
        color:white;
         background-color: rgb(11, 11, 60);
       }
    }
    .one-four{
      width:25%;
      height:100%;
      /* background-color:white; */
      h2{
        margin-left: 30px;
        
      }
      .service-img{
        height:15vh;
        margin-left: 55px;
        margin-top: 40px;
      }
      &:hover{
        color:white;
         background-color: rgb(11, 11, 60);
       }
    }
  }
  #team{
    h1{
      text-align: center;
      color: white;
    }
    height:100vh;
    padding-top: 70px;
    }

    #team{
      .team-one{
        /* background-color: aquamarine; */
        width: 90%;
        display: flex;
        margin-left: 70px;
        padding-right: 50px;
        height: 70vh;
        color:white;
      .pooji{
        /* background-color: rgb(255, 255, 0); */
        width: 33.33%;
        height: 70vh;
        margin-right: 10px;
        .pooji-img{
          height: 25vh;
          margin-left: 100px;
          margin-top: 30px;
          margin-bottom: 50px;
        }
        .abt{
          margin-left: 35px;
        }
        &:hover{
          cursor: pointer;
        }
        .accounts{
          display: flex;
          margin-left: 32px;
          .insta{
            height: 5vh;
            margin-right: 15px;
          }
          .linkedin{
            height: 5vh;
            margin-right: 15px;
          }
          .github{
            height:5vh;
          }
        }
      }
      .navya{
        /* background-color: bisque; */
        width: 33.33%;
        height: 70vh;
        margin-right: 10px;
        .navya-img{
          height: 25vh;
          margin-left: 100px;
          margin-top: 30px;
        }
        .abt{
          margin-left: 35px;
        }
        &:hover{
          cursor: pointer;
        }
        .accounts{
          display: flex;
          margin-left: 32px;
          .insta{
            height: 5vh;
            margin-right: 15px;
          }
          .linkedin{
            height: 5vh;
            margin-right: 15px;
          }
          .github{
            height:5vh;
          }
        }
      }

      .malli{
        /* background-color: blanchedalmond; */
        width: 33.33%;
        height: 70vh;
        margin-right: 10px;
        .malli-img{
          height:25vh;
          margin-left: 100px;
          margin-top: 30px;
        }
        .abt{
          margin-left: 35px;
        }
        &:hover{
          cursor: pointer;
        }
        .accounts{
          display: flex;
          margin-left: 32px;
          .insta{
            height: 5vh;
            margin-right: 15px;
          }
          .linkedin{
            height: 5vh;
            margin-right: 15px;
          }
          .github{
            height:5vh;
          }
        }
      }
    }
    }


  #gallery{
    height:100vh;
   padding-top: 50px;
    /* background: linear-gradient(#141e30, #243b55); */
  }
  #reserve{
    height:100vh;
    color:white;
    

    /* background: linear-gradient(#141e30, #243b55); */
  }

  .home,.gal,.res{
    &:hover{
      cursor: pointer;
    }
  }

  .backtotop{
    height:8vh;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    &:hover{
      opacity: 0.5;
    }
  }
 

  